* {
  margin: 0;
  padding: 0;
}

p, input {
  display: inline-block;

}

#globalWrapper {
  display: block;
  width: 972px;
  min-height: 600px;
  /*border: 1px dotted red;*/
  margin: 10px auto 0px auto;
}

form {
  display: inline-block;
  width: 485px;
  height: 600px;
  vertical-align: top;
  /*border: 1px dotted red;*/
}

#firstnamei, #lastnamei {
  margin-bottom: 10px;
}

#rightsection {
  display: inline-block;
  width: 479px;
  height: 600px;
  /*border: 1px dotted red;*/
}

#descriptiondiv {
  margin-top: 50px;
}

#descriptiondiv p{
  display: block;
  margin-bottom: 20px;
}

#descriptioni {
  width: 243px;
  height: 100px;
  margin-bottom: 20px;
}

.contactCard {
  display: inline-block;
  width: 60%;
  height: 100px;
  margin-left: 105px;
  text-align: center;
  border: 1px solid black;
  overflow: auto;
}

.contactCard h1, h2, p {
  vertical-align: middle;
}
